.hFullScreen{
    height: 100vh;
    background-color: #F2F7F6;
}

.hSubContent{
    height: 85%;
    width: 77%;
    top:15%;
    left: 23%;
    position: absolute;
    background-color: #F2F7F6;
}

.hLeftSubContent{
    position: absolute;
    height: 100%;
    width: 65%;
    background-color: #F2F7F6;
}

.hRightSubContent{
    position: absolute;
    height: 98%;
    width: 34%;
    left: 65%;
    margin-right: 2vw;
    border-radius: 1vw;
    background-color: #e9f3f1;
    box-shadow: 0.1vw 0.2vw 0.1vw 0.1vw #d5dddd ;
}

.hMeetingOptions{
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #F2F7F6;
}

.hMeetingProgress{
    position: absolute;
    height: 36%;
    width: 96%;
    top:61%;
    border-radius: 12px;
    margin-left: 1vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #d5dddd;
    background-color: #e9f3f1;
}

.hOptionCard{
    height:9vw;
    width:22vw;
    margin:2vw 0vw 0vw 2vw;
    border-radius: 12px;
    border-width: 2px;
    border-color: black;
    background-color: #e9f3f1;
    box-shadow: 0.3vw 0.3vw #d5dddd;
    cursor: pointer;
}



.hOptionTitle{
    font-size: 1.4vw;
    color: #066B66;
    text-align: center;
}

.hProgressTitle{
    font-size: 1.3vw;
    color: #066B66;
    text-align: center;
    padding-top: 5vw;
}

.hLeaveBtn{
    height: 2vw;
    width: 7vw;
    border-radius: 1vw;
    background-color: rgb(216, 9, 9);
    color: white;
    border: none;
    float: right;
    margin-right: 1vw;
    cursor: pointer;
}

.hSearchContent{
    height: 10vw;
    width: 38vw;
}

.hSearchTitle{
    font-size: 1.6vw;
    color:  #1FAFA8;
    font-weight: 600;
    padding-left: 3vw;
}

.hRecordingBtn{
    height: 2.8vw;
    width:15vw;
    background-color:#1FAFA8;
    color: white;
    margin-left: 2.5vw;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}

.hRecordingContent{
    height: 36vw;
    width: 96%;
    border-radius: 5px;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw #d5dddd;
    background-color: #e9f3f1;
}