.hFullScreen{
    width:100vw;
    height: 100vh;
    background-color: #F2F7F6;
}

.hSubContent{
    height: 85%;
    width: 77%;
    top:15%;
    left: 23%;
    position: absolute;
    background-color: #F2F7F6;
}

.hLeftSubContent{
    position: absolute;
    height: 100%;
    width: 65%;
    background-color: #F2F7F6;
}

.hRightSubContent{
    position: absolute;
    height: 100%;
    width: 34%;
    left: 65%;
    margin-right: 2vw;
    border-radius: 1vw;
    background-color: #e9f3f1;
    box-shadow: 0vw 0vw 0.1vw 0vw #5e7e7e ;
}

.hMeetingOptions{
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #F2F7F6;
}

.hMeetingProgress{
    position: absolute;
    height: 40%;
    width: 100%;
    top:60%;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw #d5dddd ;
    background-color: #e9f3f1;
}

.hOptionCard{
    height:9vw;
    width:22vw;
    margin:2vw 0vw 0vw 2vw;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    background-color: #e9f3f1;
    box-shadow: 0.3vw 0.3vw #d5dddd;
}

.hOptionImg{
    height: 4vw;
    width:4vw;
    margin-left: 40%;
}

.hOptionTitle{
    font-size: 1.6vw;
    color: #066B66;
    text-align: center;
}

.hProgressTitle{
    font-size: 1.8vw;
    color: #066B66;
    text-align: center;
    padding-top: 7vw;
}

.hLeaveBtn{
    height: 2vw;
    width: 7vw;
    border-radius: 1vw;
    background-color: red;
    color: white;
    border: none;
    float: right;
    margin-right: 1vw;
}

.hSearchContent{
    height: 10vw;
    width: 38vw;
    background-color: bisque;
}

.hSearchTitle{
    font-size: 1.6vw;
    color:  #1FAFA8;
    font-weight: 600;
    padding-left: 3vw;
}

