.nFullContent{
    height:47.5vw;
    width:23%;
    background-color: #1FAFA8;
    position: absolute;
}

.nContent{
    background-color: #F2F7F6;
    border-radius: 0px 10px 10px 0px;
    margin:0vw 1vw 1vw 1vw;
    height: 45vw;
    width:93%;
}

.nItemList{
    list-style-type: none;
}

li{
    color: #1FAFA8;
    font-size: 1.4vw;
    font-weight: 700;
    padding-top: 3vw;
}

li:hover{
    opacity: 0.5;;
    cursor: pointer;
}

